{# The Reclaim mark: clapboard house with one dutchman patch. The patch is the only color in the family. #}
<svg class="mark" viewBox="0 0 48 48" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><polygon points="2,19 24,2 46,19"/><rect x="7" y="21" width="34" height="5"/><rect x="7" y="28" width="34" height="5"/><rect x="7" y="42" width="34" height="5"/><polygon points="7,35 19,35 17,40 7,40"/><polygon points="33,35 41,35 41,40 31,40"/></g><polygon class="patch" points="21,35 31,35 29,40 19,40"/></svg>
